
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*Global CSS*/
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}
button{
    cursor: pointer;
}
/*Header*/
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}
header>a{
    color:white;
    text-decoration: none;
}
.search-bar{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#search-input{
    width: 300px;
    padding: 0 7px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
#search-button{
    background-color: #333;
    color:white;
    border-radius: 5px;
    width: 100px;
    height: 33px;
    border: none;
}
/*Sorting*/
.sorting-options{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#sort-by-date,
#sort-by-rating{
    width: 225px;
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
}
/*Tabs*/
.tabs{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    margin-left: 40px;
}
#all-tab,#favorites-tab{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.active-tab{
    background-color: black;
    color: white;
}
#movies-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.card{
    width: 200px;
    height: 375px;
   
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
.poster{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.title
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.vote-favoriteIcon{
    display: flex;
    justify-content:space-evenly;
}
.vote-count,.vote-rating{
font-size: 14px;
}
.favorite-icon{
    width: 20px;
    height: 20px;
    display: flex !important;
    place-items:center;
    margin-top: 5px;
}
/*pagination*/
.pagination{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 10px;
}
#prev-button,#page-number,#next-button{
    border:none ;
    padding: 5px 7px;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}